# .env.example
RAFFLE_TITLE=
RAFFLE_PRIZES=[{"title":"First prize","description":"","position":1},{"title":"Second prize","description":"","position":2}]
RAFFLE_TOTAL_NUMBERS=100
RAFFLE_PRICE=5.00
RAFFLE_CURRENCY=EUR

ADMIN_USERNAME=admin
ADMIN_PASSWORD=